
.field-container {
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.title{
    font-size: 30px;
    font-weight: bold;
}

.field-container button {
    margin-left: 10px;
    background-color: red;
    border: 2px solid black;
    color: white;
    
}
#add-button{
    background-color: rgb(15, 129, 236);
    color: white;
    border: white solid 2px;
}

.strike{
    text-decoration: line-through;
    color: rgb(71, 2, 2);
}

body{
    background-image: linear-gradient(to right ,skyblue ,orange);
}
.body{
    margin-left: 20%;
    border: black double 3px;
    padding: 10px 10px 10px 10px;
    margin-top: 16%;
    margin-right: 28%;
    background-image: linear-gradient(to right ,rgb(240, 161, 14),rgb(226, 80, 170) );
    font-family:'Times New Roman', Times, serif;
}
.submit{
    height: 10px;
}

#search{
    margin-left: 60px;
}
.search_btn{
    background-color: rgb(15, 129, 236);
    color: white;
    border: white solid 2px;
}